html, body {
    height: 100%;
}
 * {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #13213F
}
.calculadora{
    border: 2px solid black;
    width: 60%;
    height: auto;
    aspect-ratio: 18/9;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: #1D3461;
    border: 2px solid white;
    box-shadow: #ffffff 0px 0px 50px 5px;
}
.pantalla {
    flex: 1 1 10%;
    padding: 5%;
    margin: 2%;
    font-size: 1.5em;
    color: white;
    font-weight: bolder;
    background-color: #13213F;
    color: #ffffff;
    border: 2px solid white;
}

.botones {
    flex: 1 1 90%;
    display: flex;
    flex-flow: row;
}
.numeros {
    flex: 1 1 70%;
    display: flex;
    flex-flow: row-reverse wrap;
    margin-right: 3%;
}
.numeros button {
    flex: 1 1 29%;
    margin: 2%;
    font-size: 1.4em;
    border-radius: 10%/30%;
    background-color: #1F487E;
    color: #ffffff;
    border: 2px solid white;
}
.operadores{
    flex: 1 1 30%;
    display: flex;
    flex-flow: row wrap;
}
.operadores button {
    flex: 1 1 40%;
    margin: 3%;
    font-size: 1.4em;
    border-radius: 15%/15%;
    background-color: #376996;
    color: #ffffff;
    border: 2px solid white;
    transition: all 0.2s;
}

.operadores button:active {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid white;
}

